/* utils */
white(a)
  rgba(255, 255, 255, a)

black(a)
  rgba(0, 0, 0, a)

:root
  --radius-large 1rem
  --content-delay 150ms

/* An util to define variables that vary with light and dark mode */
define(vars)
  :root
    for key, value in vars
      {key}: value[0]
  :root.dark
    for key, value in vars
      if length(value) > 1
        {key}: value[1]

define({
  --primary: #24837B #3AA99F
  --page-bg: #F2F0E5 #100F0F
  --card-bg: #FFFCF0 #1C1B1A

  --btn-content: #24837B #3AA99F
  --text-primary: #100F0F #CECDC3
  --text-muted: #6F6E69 #878580
  --text-faint: #B7B5AC #575653

  --btn-regular-bg: #E6E4D9 #282726
  --btn-regular-bg-hover: #DAD8CE #343331
  --btn-regular-bg-active: #CECDC3 #403E3C
  --btn-regular-dark-bg: #6F6E69 #282726
  --btn-regular-dark-bg-hover: #878580 #343331
  --btn-regular-dark-bg-active: #B7B5AC #403E3C

  --btn-plain-bg-hover: #E6E4D9 #282726
  --btn-plain-bg-active: #DAD8CE #343331

  --btn-card-bg-hover: #E6E4D9 #282726
  --btn-card-bg-active: #DAD8CE #343331

  --enter-btn-bg: var(--btn-regular-bg)
  --enter-btn-bg-hover: var(--btn-regular-bg-hover)
  --enter-btn-bg-active: var(--btn-regular-bg-active)

  --deep-text: #100F0F

  --title-active: #205EA6 #4385BE

  --line-divider: black(0.08) white(0.08)

  --line-color: black(0.1) white(0.1)
  --meta-divider: black(0.2) white(0.2)

  --inline-code-bg: var(--btn-regular-bg)
  --inline-code-color: var(--btn-content)
  --selection-bg: #BFE8D9 #164F4A
  --codeblock-selection: #164F4A
  --codeblock-bg: #1C1B1A #1C1B1A
  --codeblock-topbar-bg: #282726 #100F0F

  --license-block-bg: #F2F0E5 #282726

  --link-underline: #BFE8D9 #164F4A
  --link-hover: #87D3C3 #1C6C66
  --link-active: #5ABDAC #24837B

  --float-panel-bg: #FFFCF0 #1C1B1A

  --scrollbar-bg-light: black(0.4)
  --scrollbar-bg-hover-light: black(0.5)
  --scrollbar-bg-active-light: black(0.6)

  --scrollbar-bg-dark: white(0.4)
  --scrollbar-bg-hover-dark: white(0.5)
  --scrollbar-bg-active-dark: white(0.6)

  --scrollbar-bg: var(--scrollbar-bg-light) var(--scrollbar-bg-dark)
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light) var(--scrollbar-bg-hover-dark)
  --scrollbar-bg-active: var(--scrollbar-bg-active-light) var(--scrollbar-bg-active-dark)

  --display-light-icon: 1 0
  --display-dark-icon: 0 1

  --admonitions-color-tip: #24837B #3AA99F
  --admonitions-color-note: #205EA6 #4385BE
  --admonitions-color-important: #5E409D #8B7EC8
  --admonitions-color-warning: #AD8301 #D0A215
  --admonitions-color-caution: #AF3029 #D14D41

  --toc-badge-bg: #DDF1E4 var(--btn-regular-bg)
  --toc-btn-hover: #E6E4D9 #1C1B1A
  --toc-btn-active: #DAD8CE #282726
  --toc-width: calc((100vw - var(--page-width)) / 2 - 1rem)
  --toc-item-active: #24837B #164F4A
})
